body {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    line-height : 40px;
}

.cell {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    border-color: #dddddd33;
    border-width: 3px;
    border-style: solid;
}

.cell:hover {
    border-color:#000000ff;
}

.cell.m1 {
    background-color: blue;
    color: white;
}

.cell.m2 {
    background-color: limegreen;
    color: black;
}

.cell.m3 {
    background-color: #aa0000;
    color: white;
}

.cell.m4 {
    background-color: purple;
    color: white;
}

.cell.m5 {
    background-color: black;
    color: white;
}

.cell.m6 {
    background-color: aqua;
    color: black;
}

.cell.m7 {
    background-color: lightgray;
    color: black;
}

.cell.m8 {
    background-color: gray;
    color: white;
}

.cell.m9 {
    background-color: #ff00ff;
    color: black;
}

.cell.mBlank {
    background-color: #bbbbbb;
    color: #00000000;
}

.cell.mMine {
    background-color: red;
    color: black;
}

.cell.mHidden {
    background-color: white;
    color: #00000011;
    border-color: #888888;
}